table {
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: solid 1px black;
    margin: 0px;
}
.cost>:last-child {
    background-color: yellow;
}
tr:hover {
    background-color: aquamarine;
}